
<section id="hot-offers ">
    <div class="container-fluid bg-offers ">
        <div class="row">
            <h2 class="h1  text-center text-green p-4" style="color:goldenrod">HOT OFFERS</h2>
        </div>
        <div class="row gy-3 gx-3 gy-3">
           @foreach(var property in Model)
            {
                <div class="col-sm-6  col-lg-3 ">
                    <div class="card text-center">
                        <img src="@property.Path" class="card-img-top" style="height: 150px" alt="...">
                        <div class="card-body ">
                            <h5 class="">@property.Location </h5>
                            <p>Property Type: @property.Type</p>
                            <p>Property Area: @property.Area</p>
                            <p>Date : @property.UploadDate</p>
                            @* <a href="#" class="rounded-link ">Read More...</a> *@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>